<template>
  <div id="app">
    <div class="container grid-container">

      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
  </div>
</template>

<script>


export default {
  name: 'App',
  components: {
  }
}
</script>

<style lang='scss'>
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1300px,

  xxl: 1600px,
);

$container-max-widths: (
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1200px, 
  xxl: 1520px,
);


@import "~bootstrap/scss/bootstrap";


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.grid-container {
  display: grid !important;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 40px 16px;
}

.grid-item {
  height: 240px;
  background: gray;
  border-radius: 12px;
}


@media (max-width: 1599.98px) {
  .grid-container {
    grid-template-columns: auto auto auto auto auto;
  } 
}
@media (max-width: 1299.98px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  } 
}
@media (max-width: 999.98px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  } 
}
@media (max-width: 767.98px) {
  .grid-container {
    grid-template-columns: auto auto;
  } 
}

@media (max-width: 575.98px) { 
  .grid-item {
  height: 200px;
}
}

</style>
